backend/.venv/
backend/data/*.db
backend/.pytest_cache/
backend/__pycache__/
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
